@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

html, body, #root{
    height: 100%;
}

body{
    font: 14px 'Roboto', sans-serif;
    background-color: #EFEFEF;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

form button{
    height: 35px;
    border:0;
    border-radius: 7px;
    background-color: #181C2E;
    color: #FFF;
    font-size: 1.3em;
}

.container{
    display: flex;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: .8em;
    align-items: center;
    margin-bottom: 1em;
}